*
{
	margin:5px;
	padding:5px;
}
header{
	background-color: #D6DBDF;
	text-align: center;
	font-family: bodony mt black;
	font-size: 45px;
	color:#7B241C;
}
body{
	background-color:#641E16;
	color:#ffffff;
}
p{
	font-family:book antiqua;
	text-align:justify;
}
img{
	display: block;
	margin:0px auto;
	height: 280px;
	width: 207px;
}